.accordion-header {
  color: #373737;
}
.accordion-item {
  border: 1px solid #ffbc0d;
  --bs-accordion-active-bg: #ffbc0d;
}
.custom-accordion-item {
  padding: 2px 0;
}
.accordion-button:active {
  --bs-accordion-active-color: white;
  --bs-accordion-active-bg: rgb(255, 255, 255);
}
.accordion-button:focus {
  background-color: white;
  border-color: white;
  --bs-accordion-btn-focus-border-color: white;
}
.accordion-button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.accordion-button:focus:not(:focus-visible) {
  background-color: #ffbc0d;
}
