.accordion-body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
}
.layer-img-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  @media screen and (max-width: 390px) {
    gap: 10px;
  }
}
.layer-edit-trash-container {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10px;
}
.layer-bi-stack-color {
  color: #ffbc0d;
}
.bi-pencil-fill {
  font-size: 20px;
  cursor: pointer;
}
.layer-bi-pencil-color {
  color: #373737;
  @media screen and (max-width: 390px) {
    font-size: 16px !important;
  }
}
.layer-bi-pencil-color:hover {
  color: #ffbc0d;
  cursor: pointer;
}
.bi-trash-fill {
  font-size: 20px;
  cursor: pointer;
}
.layer-bi-trash-color {
  color: #373737;
  @media screen and (max-width: 390px) {
    font-size: 16px !important;
  }
}
.layer-bi-trash-color:hover {
  color: #ffbc0d;
  cursor: pointer;
}
.layer-bi-arrows-move-color {
  @media screen and (max-width: 300px) {
    display: none;
  }
}
.layer-bi-arrows-move-color:hover {
  color: #ffbc0d;
}
.accordion-body-layer-order {
  @media screen and (max-width: 390px) {
    font-size: 14px !important;
  }
}
.accordion-body-layer-name {
  border: none;
  background-color: white;
  @media screen and (max-width: 390px) {
    font-size: 14px !important;
  }
}
.accordion-body-layer-name-color {
  color: #ffbc0d;
  border: none;
  background-color: white;
}
