.main-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 200px;
  background-color: #ffbc0d;
}
.create-new-collection-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // position: relative;
  width: 100%;
  padding: 20px;
  gap: 25px;
  padding-top: 30px;
  margin-bottom: 20px;
  // background-color: aquamarine;
  @media screen and (max-width: 1780px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    // position: relative;
    padding: 20px;
    gap: 25px;
    padding-top: 30px;
    margin-bottom: 20px;
    // background-color: rgb(127, 206, 255);
  }
  @media screen and (max-width: 940px) {
    width: 95%;
    // background-color: rgb(127, 206, 255);
  }
  @media screen and (max-width: 769px) {
    width: 100%;
    // background-color: rgb(127, 206, 255);
  }
  @media screen and (max-width: 360px) {
    padding: 5px;
    gap: 5px;
  }
}

.collection-data-text {
  font-size: 24px;
  font-weight: 600;
}
.form-description {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  @media screen and (max-width: 576px) {
    margin-top: 20px;
  }
}

.name-container {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.125em;
  font-weight: 400;
  // background-color: red;
  @media screen and (max-width: 1780px) {
    width: 90%;
    justify-content: flex-start;
    gap: 10px;
    // border: 1px solid green;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
    justify-content: flex-start;
    // border: 1px solid green;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
    justify-content: flex-start;
    // border: 1px solid green;
  }
  @media screen and (max-width: 350px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.create-new-collection-form-name-text {
  // border: 1px solid red;
  @media screen and (max-width: 1951px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1780px) {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    font-size: 18px;
    font-weight: 400;
    // background-color: rgb(0, 128, 85);
  }
  @media screen and (max-width: 768px) {
    display: flex;
    width: 25%;
  }
  @media screen and (max-width: 645px) {
    width: 35%;
  }
  @media screen and (max-width: 450px) {
    // width: 25%;
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 14px;
  }
  @media screen and (max-width: 350px) {
    width: 90%;
  }
  @media screen and (max-width: 300px) {
    font-size: 12px;
  }
}
// .create-new-collection-form-input-field-and-pencil {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   border: 1px solid green;
// }
.name-input-field {
  position: relative;
  width: 300px;
  border: none;
  font-size: 16px;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
  @media screen and (max-width: 1780px) {
    position: relative;
    width: 65%;
    border: none;
    font-size: 16px;
    line-height: 2rem;
    background-color: #f8f8f4;
    border-radius: 5px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    width: 65%;
    border: none;
    font-size: 16px;
    line-height: 2rem;
    background-color: #f8f8f4;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
  }
  @media screen and (max-width: 645px) {
    width: 68%;
    // border: 1px solid blue;
  }
  @media screen and (max-width: 350px) {
    width: 90%;
  }
}

.name-input-field-notification {
  position: absolute;
  color: red;
  width: 300px;
  // border: 1px solid red;
  font-size: 16px;
  height: 2rem;
  // background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
  margin-top: -3.2rem;
  margin-left: 30px;
}
.name-input-field::placeholder {
  @media screen and (max-width: 455px) {
    font-size: 14px;
  }
  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
}
.name-input-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbc0d;
  font-size: 16px;
}

.description-container {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  @media screen and (max-width: 1780px) {
    width: 90%;
    justify-content: flex-start;
    gap: 10px;
    // border: 1px solid green;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
    justify-content: flex-start;
    // border: 1px solid green;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
    justify-content: flex-start;
    // border: 1px solid green;
  }
  @media screen and (max-width: 350px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.create-new-collection-form-description-text {
  // border: 1px solid blue;
  @media screen and (max-width: 1951px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1780px) {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    font-size: 18px;
    font-weight: 400;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    width: 25%;
  }
  @media screen and (max-width: 645px) {
    width: 35%;
  }
  @media screen and (max-width: 450px) {
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 14px;
  }
  @media screen and (max-width: 350px) {
    width: 90%;
  }
  @media screen and (max-width: 300px) {
    font-size: 12px;
  }
}
.description-input-field {
  width: 300px;
  border: none;
  font-size: 1rem;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
  @media screen and (max-width: 1780px) {
    position: relative;
    width: 65%;
    border: none;
    font-size: 16px;
    line-height: 2rem;
    background-color: #f8f8f4;
    border-radius: 5px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    width: 65%;
    text-align: left;
    padding-left: 5px;
  }
  @media screen and (max-width: 645px) {
    width: 68%;
  }
  @media screen and (max-width: 350px) {
    width: 90%;
  }
}
.description-input-field::placeholder {
  @media screen and (max-width: 455px) {
    font-size: 14px;
  }
  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
}
.description-input-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbc0d;
  font-size: 16px;
}
.collection-size-container {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  @media screen and (max-width: 1780px) {
    width: 90%;
    justify-content: flex-start;
    gap: 10px;
    // border: 1px solid green;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
    justify-content: flex-start;
    // border: 1px solid green;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
    justify-content: flex-start;
    // border: 1px solid green;
  }
  @media screen and (max-width: 350px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.create-new-collection-form-collection-size-text {
  @media screen and (max-width: 1951px) {
    font-size: 16px;
    // background-color: red;
  }
  @media screen and (max-width: 1900px) {
    font-size: 16px;
    width: 120px;
  }
  @media screen and (max-width: 1780px) {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    font-size: 18px;
    font-weight: 400;
    // background-color: rgb(0, 128, 85);
  }
  @media screen and (max-width: 768px) {
    display: flex;
    width: 25%;
    // border: 1px solid red;
  }
  @media screen and (max-width: 645px) {
    width: 35%;
  }
  @media screen and (max-width: 450px) {
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 14px;
  }
  @media screen and (max-width: 350px) {
    width: 90%;
  }
  @media screen and (max-width: 300px) {
    font-size: 12px;
  }
}
.collection-size-input-field {
  width: 300px;
  border: none;
  font-size: 16px;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
  @media screen and (max-width: 1780px) {
    width: 65%;
  }
  @media screen and (max-width: 768px) {
    width: 65%;
    text-align: left;
    padding-left: 5px;
  }

  @media screen and (max-width: 645px) {
    width: 68%;
  }
  @media screen and (max-width: 350px) {
    width: 90%;
  }
}
.collection-size-input-field::placeholder {
  @media screen and (max-width: 455px) {
    font-size: 14px;
  }
  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
}

.collection-size-input-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbc0d;
  font-size: 16px;
}
.create-new-collection-form-button {
  // width: 12%;
  // font-size: 1.125rem;
  color: #121212;
  border: none;
  border-radius: 15px;
  background-color: #f8f8f4;
  padding: 10px 25px;
  cursor: pointer;
  @media screen and (max-width: 1780px) {
    color: #121212;
    border-radius: 15px;
    background-color: #f8f8f4;
    padding: 5px 15px;
    margin-top: 30px;
    cursor: pointer;
  }
  @media screen and (max-width: 450px) {
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 15px;
    // border: 1px solid #121212;
  }
}
.create-new-collection-form-button:hover {
  border: 2px solid #373737;
}
@media screen and (max-width: 768px) {
  .bi-pencil-fill-in-create-new-collection-form {
    color: white;
    font-size: large;
    margin-left: 15px;
  }
}
.create-new-collection-form-button-disabled {
  // width: 12%;
  color: #7e7d7d;
  border: none;
  border-radius: 15px;
  background-color: #c2c2c2;
  padding: 10px 25px;
  cursor: pointer;
}
