.main-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 200px;
  background-color: #ffbc0d;
}
.create-new-collection-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
  gap: 25px;
  padding-top: 30px;
  margin-bottom: 20px;
  // background-color: aquamarine;
}
@media screen and (max-width: 768px) {
  .create-new-collection-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px;
    gap: 20px;
    padding-top: 30px;
  }
}
.collection-data-text {
  font-size: 24px;
  font-weight: 600;
}
.form-description {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .form-description {
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .name-container {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    font-size: 18px;
    font-weight: 400;
    // border: 1px solid green;
  }
}
.create-new-collection-form-name-text {
}
@media screen and (max-width: 768px) {
  .create-new-collection-form-name-text {
    display: flex;
    width: 25%;
    font-weight: bold;
    // border: 1px solid red;
  }
}
.name-input-field {
  position: relative;
  width: 300px;
  border: none;
  font-size: 16px;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
}
.name-input-field-notification {
  position: absolute;
  color: red;
  width: 300px;
  // border: 1px solid red;
  font-size: 16px;
  height: 2rem;
  // background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
  margin-top: -3.2rem;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .name-input-field {
    display: flex;
    width: 65%;
    border: none;
    font-size: 16px;
    line-height: 2rem;
    background-color: #f8f8f4;
    // border: 1px solid blue;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
  }
}
.name-input-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbc0d;
  font-size: 16px;
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .description-container {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    font-size: 18px;
    font-weight: 400;
    // border: 1px solid green;
  }
}
.create-new-collection-form-description-text {
}
@media screen and (max-width: 768px) {
  .create-new-collection-form-description-text {
    display: flex;
    width: 25%;
    font-weight: bold;
    // border: 1px solid red;
  }
}
.description-input-field {
  width: 300px;
  border: none;
  font-size: 16px;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .description-input-field {
    width: 65%;
    border: none;
    font-size: 16px;
    line-height: 2rem;
    background-color: #f8f8f4;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
  }
}
.description-input-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbc0d;
  font-size: 16px;
}
.collection-size-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .collection-size-container {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    font-size: 18px;
    font-weight: 400;
    // border: 1px solid green;
  }
}
.create-new-collection-form-collection-size-text {
}
@media screen and (max-width: 768px) {
  .create-new-collection-form-collection-size-text {
    display: flex;
    width: 25%;
    font-weight: bold;
    // border: 1px solid red;
  }
}
.collection-size-input-field {
  width: 300px;
  border: none;
  font-size: 16px;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .collection-size-input-field {
    width: 65%;
    border: none;
    font-size: 16px;
    line-height: 2rem;
    background-color: #f8f8f4;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
  }
}
.collection-size-input-field:focus {
  outline: none;
  border-bottom: 2px solid #ffbc0d;
  font-size: 16px;
}
.create-new-collection-form-button {
  color: #121212;
  border: none;
  border-radius: 15px;
  background-color: #f8f8f4;
  padding: 10px 25px;
  cursor: pointer;
}
.create-new-collection-form-button:hover {
  border: 2px solid #373737;
}
@media screen and (max-width: 768px) {
  .bi-pencil-fill-in-create-new-collection-form {
    color: white;
    font-size: large;
    margin-left: 15px;
  }
}
.create-new-collection-form-button-disabled {
  color: #7e7d7d;
  border: none;
  border-radius: 15px;
  background-color: #c2c2c2;
  padding: 10px 25px;
  cursor: pointer;
}
