// create new layer form start
.create-new-layer-form-main-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.create-new-layer-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-new-layer-input-field {
  // position: relative;
  width: 100%;
  margin-top: 2px;
  border: 1px solid #373737;
  line-height: 2rem;
  background-color: #f8f8f4;
  border-radius: 5px;
  padding-left: 5px;
}
.create-new-layer-input-field-notification {
  // position: absolute;
  color: red;
  width: 100%;
  // border: 1px solid red;
  font-size: 16px;
  height: 1.5rem;
  // background-color: #f8f8f4;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 0;
  // margin-top: -2rem;
  // margin-left: 30px;
}
.create-new-layer-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-new-layer-rarity-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-new-layer-create-and-cancel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.create-new-layer-button {
  font-size: 12px;
  color: black;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  background-color: #f8f8f4;
  padding: 5px 15px;
  cursor: pointer;
}
.create-new-layer-button:hover {
  font-size: 12px;
  color: black;
  border: 3px solid #ffbc0d;
  border-radius: 24px;
  background-color: #f8f8f4;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.cancel-create-new-layer-button {
  font-size: 12px;
  color: black;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  background-color: #f8f8f4;
  padding: 5px 15px;
  cursor: pointer;
}
.cancel-create-new-layer-button:hover {
  font-size: 12px;
  color: black;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  background-color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

// create new layer form end

.add-new-layer-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.add-new-layer-button {
  font-size: 12px;
  color: black;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  background-color: #f8f8f4;
  padding: 5px 15px;
  cursor: pointer;
  width: 80%;
  max-width: 270px;
}
