.generator-image-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f4;
}
.generator-logo {
  width: 80px;
  font-size: 25px;
  padding-top: 60px;
}
.generator-logo-span {
  color: #cf5353;
}
.generator-title {
  color: #373737;
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  @media screen and (max-width: 577px) {
    font-size: 56px;
  }
  @media screen and (max-width: 455px) {
    font-size: 46px;
  }
  @media screen and (max-width: 355px) {
    font-size: 36px;
  }
}
// *****************GENERATOR-START***********************************************************
/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
#stage {
  margin-bottom: 90px;
  height: 160px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  @media screen and (max-width: 576px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 455px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 355px) {
    margin-bottom: 0;
  }
}
#spinner {
  -webkit-transform-origin: 0 0 0;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  transform-origin: 0 0 0;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#spinner:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  @media screen and (max-width: 576px) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}
#spinner img {
  position: absolute;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}
.img-1 {
  -webkit-transform: rotateY(0deg) translateX(180px);
  transform: rotateY(0deg) translateX(180px);
  //   padding: 0 0 0 160px;
  //   padding: 0 0 0 100px;
  width: 200px;
  height: 160px;
  @media screen and (max-width: 576px) {
    transform: rotateY(0deg) translateX(120px);
    width: 140px;
    height: 112px;
  }
  @media screen and (max-width: 540px) {
    transform: rotateY(0deg) translateX(102px);
    width: 119px;
    height: 95px;
  }
  @media screen and (max-width: 455px) {
    transform: rotateY(0deg) translateX(80px);
    width: 98px;
    height: 78px;
  }
  @media screen and (max-width: 355px) {
    transform: rotateY(0deg) translateX(64px);
    width: 78px;
    height: 62px;
  }
}
.img-2 {
  -webkit-transform: rotateY(-72deg) translateX(180px);
  transform: rotateY(-72deg) translateX(180px);
  //   padding: 0 0 0 147px;
  //   padding: 0 0 0 83px;
  width: 213px;
  height: 160px;
  @media screen and (max-width: 576px) {
    transform: rotateY(-72deg) translateX(120px);
    width: 149px;
    height: 112px;
  }
  @media screen and (max-width: 540px) {
    transform: rotateY(-72deg) translateX(102px);
    width: 127px;
    height: 95px;
  }
  @media screen and (max-width: 455px) {
    transform: rotateY(-72deg) translateX(80px);
    width: 104px;
    height: 78px;
  }
  @media screen and (max-width: 355px) {
    transform: rotateY(-72deg) translateX(64px);
    width: 83px;
    height: 62px;
  }
}
.img-3 {
  -webkit-transform: rotateY(-144deg) translateX(180px);
  transform: rotateY(-144deg) translateX(180px);
  //   padding: 0 0 0 120px;
  //   padding: 0 0 0 60px;
  width: 240px;
  height: 160px;
  @media screen and (max-width: 576px) {
    transform: rotateY(-144deg) translateX(120px);
    width: 168px;
    height: 112px;
  }
  @media screen and (max-width: 540px) {
    transform: rotateY(-144deg) translateX(102px);
    width: 143px;
    height: 95px;
  }
  @media screen and (max-width: 455px) {
    transform: rotateY(-144deg) translateX(80px);
    width: 118px;
    height: 78px;
  }
  @media screen and (max-width: 355px) {
    transform: rotateY(-144deg) translateX(64px);
    width: 94px;
    height: 62px;
  }
}
.img-4 {
  -webkit-transform: rotateY(-216deg) translateX(180px);
  transform: rotateY(-216deg) translateX(180px);
  //   padding: 0 0 0 147px;
  //   padding: 0 0 0 83px;
  width: 213px;
  height: 160px;
  @media screen and (max-width: 576px) {
    transform: rotateY(-216deg) translateX(120px);
    width: 149px;
    height: 112px;
  }
  @media screen and (max-width: 540px) {
    transform: rotateY(-216deg) translateX(102px);
    width: 127px;
    height: 95px;
  }
  @media screen and (max-width: 455px) {
    transform: rotateY(-216deg) translateX(80px);
    width: 104px;
    height: 78px;
  }
  @media screen and (max-width: 355px) {
    transform: rotateY(-216deg) translateX(64px);
    width: 83px;
    height: 62px;
  }
}
.img-5 {
  -webkit-transform: rotateY(-288deg) translateX(180px);
  transform: rotateY(-288deg) translateX(180px);
  //   padding: 0 0 0 122px;
  //   padding: 0 0 0 62px;
  width: 238px;
  height: 160px;
  @media screen and (max-width: 576px) {
    transform: rotateY(-288deg) translateX(120px);
    width: 167px;
    height: 112px;
  }
  @media screen and (max-width: 540px) {
    transform: rotateY(-288deg) translateX(102px);
    width: 142px;
    height: 95px;
  }
  @media screen and (max-width: 455px) {
    transform: rotateY(-288deg) translateX(80px);
    width: 117px;
    height: 78px;
  }
  @media screen and (max-width: 355px) {
    transform: rotateY(-288deg) translateX(64px);
    width: 94px;
    height: 62px;
  }
}
//****************************GENERATOR-END**************************************
