.payment-form-main-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0;
  //   box-shadow: 0px 34px 30px -11px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 1px 8px -4px rgba(0, 0, 0, 0.75);
  //   border: 1px solid #ffbc0d;
  border-radius: 5px;
  //   background-color: blue;
}
.payment-form-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 30px;

  //   background-color: red;
}

.payment-form-header-logo {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 20px;
}
.payment-form-header-logo-span {
  color: #cf5353;
}
.payment-form-bi-x-lg {
  margin-right: 20px;
}
.payment-form-body-subtotal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  width: 97%;
  height: 2.5rem;
  border-bottom: 1px dotted #ffbc0d;
  //   background-color: red;
}
.payment-form-body-subtotal-container p {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.payment-form-body-vat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  width: 97%;
  height: 2.5rem;
  border-bottom: 1px dotted #ffbc0d;
  //   background-color: red;
}
.payment-form-body-vat-container p {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.payment-form-body-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 30px 0;
  width: 97%;
  height: 120px;
  border-bottom: 1px solid #d8d8d8;
  //   background-color: #06c668;
  //   border-bottom: 1px dotted #ffbc0d;
}
.payment-form-body-total-amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  //   background-color: #cf5353;
}
.payment-form-body-total-container p {
  font-size: 18px;
  font-weight: noraml;
}
.payment-form-body-total-amount {
  font-weight: bold;
  color: #06c668;
}

.payment-form-footer-ethereum-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  //   background-color: #cf5353;
}
.payment-form-footer-ethereum-text {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.payment-form-footer-ethereum-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 150px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  padding: 15px 25px;
  cursor: pointer;
  max-width: 270px;
  margin-right: 5px;
}
.payment-form-footer-ethereum-button:active {
  transform: translateY(4px);
}
.payment-form-footer-ethereum-button-processing {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  width: 220px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  padding: 15px 25px;
  cursor: pointer;
  max-width: 270px;
  margin-right: 5px;
}
.ethereum-logo-in-payment-form-button {
  width: 40px;
}

.success-crypto-payment {
  color: #06c668;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.loader-and-text-container-in-payment-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  // justify-content: flex-start;
  align-items: center;
  gap: 5px;
  // background-color: #06c668;
}

.loader-in-payment-form {
  display: block;
  position: relative;
  height: 10px;
  width: 40%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}
.loader-in-payment-form::after {
  content: "";
  width: 40%;
  height: 100%;
  background: #ffbc0d;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1.5s linear infinite;
  border-radius: 10px;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.generate-collection-cancel-button-in-modal {
  font-size: 12px;
  color: black;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  background-color: #f8f8f4;
  padding: 5px 15px;
  cursor: pointer;
  max-width: 270px;
  margin-right: 5px;
}
