.data-about-layer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 25px;
  position: relative;
  gap: 10px;
}
.layer-main-title {
  width: 100%;
  font-size: 22px;
  border-bottom: 1px solid #ffbc0d;
  text-align: center;
}
.layer-data-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.layer-data-name {
  display: flex;
  color: #373737;
  font-size: 18px;
  width: 50%;
}
.layer-data-name-text-div {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.layer-data-name-text {
  color: #373737;
  font-size: 16px;
  font-weight: bold;
}
.layer-data-description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.layer-data-description-text-div {
  display: flex;
  flex-direction: row;
  width: 20%;
}
.layer-data-description-text {
  color: #373737;
  font-size: 16px;
  font-weight: bold;
}
.layer-data-description {
  display: flex;
  width: 50%;
  color: #373737;
  font-size: 18px;
}
.layer-data-size-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.layer-data-size-text-div {
  display: flex;
  flex-direction: row;
  width: 20%;
}
.layer-data-size-text {
  color: #373737;
  font-size: 16px;
  font-weight: bold;
}
.layer-data-size {
  color: #373737;
  font-size: 18px;
}
