.layer-images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 10px;
  width: 100%;
  overflow-y: scroll;
  // background-color: aquamarine;
}
