.login-form-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto 0 auto;
  border: 1px solid #ffbc0d;
  @media screen and (max-width: 768px) {
    width: 70%;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
.matamask-logo {
  width: 100px;
  margin-top: 20px;
}
.metamask-text {
  color: #0a0a0a;
  font-size: 20px;
  font-weight: bold;
}
.metamask-login-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-radius: 24px;
  padding: 10px 25px;
  background-color: white;
  margin-bottom: 20px;
  @media screen and (max-width: 390px) {
    padding: 1px 10px;
    font-size: 11px;
    align-items: center;
  }
}
.matamask-logo-in-metamask-login-button {
  width: 30px;
}
.matamask-text-in-metamask-login-button {
  color: #f68500;
}
.unauthorizedErrorText {
  color: #f68500;
}
