.connect-wallet-button {
  font-size: 14px;
  color: black;
  border: 1px solid #ffbc0d;
  border-radius: 24px;
  background-color: #f8f8f4;
  padding: 10px 25px;
  cursor: pointer;
  max-width: 270px;
  margin-right: 5px;
}
