@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "../src/css/accordion/accordion-header.scss";
@import "../src/css/generator/create-new-collection-form.scss";
@import "../src/css/generator/collection-preview.scss";
@import "../src/css/generator/generator-main-panel.scss";
@import "../src/css/generator/accordion-body.scss";
@import "../src/css/generator/create-new-layer.scss";
@import "../src/css/generator/delete-collection-card.scss";
@import "../src/css/generator/layers/layer-data.scss";
@import "../src/css/generator/layers/add-new-image.scss";
@import "../src/css/generator/layers/layer-image.scss";
@import "../src/css/generator/layers/layer-images.scss";
@import "../src/css/generator/layers/edit-image-form.scss";
@import "../src/css/generator/layers/edit-layer-form.scss";
@import "../src/css/wallet/wallet.scss";
@import "../src/css/home/home.scss";
@import "../src/css/accordion/accordion-body-layer-item.scss";
@import "../src/css/buttons/generate-collection.scss";
@import "../src/css/buttons/download-collection.scss";
@import "../src/css/buttons/generate-preview-images.scss";

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
